@using Macone.Models.Entities;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/User/Views/Shared/Layouts/_Layout_Home.cshtml";
}
@model List<Product>


@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="featured__item">
            <div class="featured__item__pic set-bg"
                 data-setbg="@Url.Content("../../../../user-assets/img/product/" + item.Avatar)">
                <ul class="featured__item__pic__hover">
                    <li>
                        <a href="#">
                            <i class="fa fa-heart"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-retweet"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="featured__item__text">
                <h6><a asp-area="User" asp-controller="ShopDetails" asp-action="ProductDetail" asp-route-id="@item.Id">@item.Name</a></h6>
                <h5>@string.Format("{0:N0}₫", item.Price)</h5>
            </div>
        </div>
    </div>
}