@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a asp-area="User" asp-controller="Home" asp-action="Index">
                        <img src="~/user-assets/img/logo-macone.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li>
                            <a asp-area="User" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        </li>
                        <li>
                            <a asp-area="User" asp-controller="Shop" asp-action="Index">Cửa Hàng</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li>
                            <a asp-area="User" asp-controller="ShoppingCart" asp-action="Index">
                                <img src="~/user-assets/img/shopping-cart.svg"
                                     alt="" />
                            </a>
                        </li>
                    </ul>
                    <div class="header__top__right__auth">
                        <a href="">
                            <img src="~/user-assets/img/user.svg" alt="" />
                            <span>Đăng Xuất</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
