@using Macone.Models.Entities
@using X.PagedList.Mvc.Core
@{
    Layout = "~/Areas/User/Views/Shared/Layouts/_Layout_Shop.cshtml";
    ViewData["Title"] = "Cửa hàng";
}


<!-- List Products-->
<div class="row" id="shop-products"></div>


<!-- Pagination -->
<div id="pagination"></div>


@section Scripts {
    <script>
        let currentCategoryId = '';
        let currentPage = 1;

        function loadProducts(page = 1, categoryId = ''){
            $.ajax({
                url: `/api/user/products/shop?page=${page}${categoryId ? '&categoryId=' + categoryId : ''}`,
                type: 'GET',
                success: function(response){
                    const data = response.products;
                    const total = response.total;
                    const pageSize = 9;
                    const totalPages = Math.ceil(total / pageSize);

                    let html = '';
                    data.forEach(p => {
                        html += `
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="featured__item">
                                     <div class="featured__item__pic set-bg"
                                              style="background-image: url('../../../../admin-assets/img/products/${p.image}');">
                                         <ul class="featured__item__pic__hover">
                                             <li><a href="#"> <i class="fa fa-heart"></i></a></li>
                                             <li><a href="#"> <i class="fa fa-retweet"></i> </a></li>
                                             <li><a href="#"> <i class="fa fa-shopping-cart"></i> </a></li>
                                         </ul>
                                     </div>
                                     <div class="featured__item__text">
                                         <h6><a href="/User/ShopDetails/${p.id}">${p.name}</a></h6>
                                         <h5>${p.price.toLocaleString('vi-VN')}₫</h5>
                                     </div>
                                </div>
                            </div>`;
                    });
                    $('#shop-products').html(html);


                    // Pagination
                    let paginationHtml = '';
                    paginationHtml += `<ul class="product__pagination d-flex justify-content-center">`;

                    const maxVisiblePages = 3;
                    let startPage = Math.max(1, page - Math.floor(maxVisiblePages / 2));
                    let endPage = Math.min(totalPages, startPage + maxVisiblePages - 1);

                    // Adjust as you near the last page
                    if (endPage - startPage + 1 < maxVisiblePages) {
                        startPage = Math.max(1, endPage - maxVisiblePages + 1);
                    }
                    
                    // Button <<
                    if(page > 2){
                        paginationHtml += `
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="loadProducts(1, currentCategoryId)">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>`;
                    }

                    // Button <
                    if (page > 1) {
                        paginationHtml += `
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="loadProducts(${page - 1}, currentCategoryId)">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>`;
                    }


                    for (let i = startPage; i <= endPage; i++) {
                        paginationHtml += `
                            <li class="page-item ${i === page ? 'active' : ''}">
                                <a class="page-link" href="#" onclick="loadProducts(${i}, currentCategoryId)">${i}</a>
                            </li>`;
                    }

                    // Button >
                    if (page < totalPages) {
                        paginationHtml += `
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="loadProducts(${page + 1}, currentCategoryId)">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>`;
                    }

                    // Button >>
                    if(page < totalPages - 1) {
                        paginationHtml += `
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="loadProducts(${totalPages}, currentCategoryId)">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>`;
                    }

                    paginationHtml += `</ul>`;
                    $('#pagination').html(paginationHtml);

                }
            });
        }

        $(document).ready(function(){
            loadProducts();

            $('.category-btn').click(function(){
                currentCategoryId = $(this).data('id');
                $('.category-btn').removeClass('active');
                $(this).addClass('active');
                loadProducts(1, currentCategoryId);
            });
        });
    </script>
}


