IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'macone')
BEGIN
    CREATE DATABASE [macone];
END
GO

USE [macone];
GO

/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/2/2025 7:17:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCategory]    Script Date: 11/2/2025 7:17:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_tCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tImage]    Script Date: 11/2/2025 7:17:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageFileName] [nvarchar](100) NULL,
	[IsMain] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_tImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tProduct]    Script Date: 11/2/2025 7:17:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Price] [bigint] NULL,
	[Description] [nvarchar](max) NULL,
	[Information] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Stock] [int] NULL,
	[Weight] [float] NULL,
	[Size] [nvarchar](50) NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_tProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUser]    Script Date: 11/2/2025 7:17:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251015111332_InitialAppDbContext', N'8.0.20')
GO
SET IDENTITY_INSERT [dbo].[tCategory] ON 

INSERT [dbo].[tCategory] ([Id], [Name], [CreatedAt]) VALUES (5, N'MacBook', CAST(N'2025-10-15T22:02:27.6125698' AS DateTime2))
INSERT [dbo].[tCategory] ([Id], [Name], [CreatedAt]) VALUES (6, N'iPhone', CAST(N'2025-10-15T22:02:44.0499978' AS DateTime2))
INSERT [dbo].[tCategory] ([Id], [Name], [CreatedAt]) VALUES (7, N'iPad', CAST(N'2025-10-15T22:02:52.1056597' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tImage] ON 

INSERT [dbo].[tImage] ([Id], [ImageFileName], [IsMain], [CreatedAt], [ProductId]) VALUES (1, N'9d908325-54cd-49e5-93e5-6e3859a613d7.jpg', 1, CAST(N'2025-10-15T22:11:38.5948924' AS DateTime2), 4)
INSERT [dbo].[tImage] ([Id], [ImageFileName], [IsMain], [CreatedAt], [ProductId]) VALUES (2, N'c9a1bb49-4ffd-4c08-9949-91889a16f9f6.jpg', 0, CAST(N'2025-10-15T22:11:38.6344552' AS DateTime2), 4)
INSERT [dbo].[tImage] ([Id], [ImageFileName], [IsMain], [CreatedAt], [ProductId]) VALUES (3, N'd4d4108f-e3c7-4be8-855c-3de321b9e62f.jpg', 0, CAST(N'2025-10-15T22:11:38.6396487' AS DateTime2), 4)
GO
SET IDENTITY_INSERT [dbo].[tImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tProduct] ON 

INSERT [dbo].[tProduct] ([Id], [Name], [Price], [Description], [Information], [CreatedAt], [Stock], [Weight], [Size], [CategoryId]) VALUES (4, N'MacBook Air 2017 13 inch MQD32', 5300000, N'Core i5 8GB RAM 128GB SSD – Like New', N'Sản phẩm được kiểm tra kĩ lưỡng qua quy trình test cẩn thận 20 bước, đảm bảo hoạt động ổn định trước khi đến tay người dùng', CAST(N'2025-10-15T22:35:50.6964330' AS DateTime2), 999, 1.35, N'13 inch', 5)
INSERT [dbo].[tProduct] ([Id], [Name], [Price], [Description], [Information], [CreatedAt], [Stock], [Weight], [Size], [CategoryId]) VALUES (5, N'MacBook Pro 2019 16 inch', 18300000, N'Core i9 2.4GHz 64GB RAM 1TB SSD – Like New', N'Sản phẩm được kiểm tra kĩ lưỡng qua quy trình test cẩn thận 20 bước, đảm bảo hoạt động ổn định trước khi đến tay người dùng', CAST(N'2025-10-15T22:36:03.7231749' AS DateTime2), 999, 1.95, N'16 inch', 5)
INSERT [dbo].[tProduct] ([Id], [Name], [Price], [Description], [Information], [CreatedAt], [Stock], [Weight], [Size], [CategoryId]) VALUES (6, N'MacBook Pro 2020 13 inch', 15600000, N'Apple M2 16GB RAM 512GB SSD – Like New', N'Sản phẩm được kiểm tra kĩ lưỡng qua quy trình test cẩn thận 20 bước, đảm bảo hoạt động ổn định trước khi đến tay người dùng', CAST(N'2025-10-15T22:41:02.7265227' AS DateTime2), 999, 1.6, N'13 inch', 5)
SET IDENTITY_INSERT [dbo].[tProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[tUser] ON 

INSERT [dbo].[tUser] ([Id], [Username], [Password], [CreatedAt], [Role]) VALUES (1, N'admin', N'123', CAST(N'2025-10-27T20:01:30.3333333' AS DateTime2), N'ADMIN')
INSERT [dbo].[tUser] ([Id], [Username], [Password], [CreatedAt], [Role]) VALUES (2, N'user1', N'123', CAST(N'2025-10-27T20:01:30.3333333' AS DateTime2), N'USER')
SET IDENTITY_INSERT [dbo].[tUser] OFF
GO
ALTER TABLE [dbo].[tCategory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tImage] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMain]
GO
ALTER TABLE [dbo].[tImage] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tProduct] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tUser] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tImage]  WITH CHECK ADD  CONSTRAINT [FK_tImage_tProduct_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tProduct] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tImage] CHECK CONSTRAINT [FK_tImage_tProduct_ProductId]
GO
ALTER TABLE [dbo].[tProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProduct_tCategory_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tCategory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tProduct] CHECK CONSTRAINT [FK_tProduct_tCategory_CategoryId]
GO
