@{
    Layout = "~/Areas/User/Views/Shared/Layouts/Base/_Layout_Base.cshtml";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
@await Html.PartialAsync("~/Areas/User/Views/Shared/Partials/_Header.cshtml")
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Loại Sản Phẩm</span>
                    </div>
                    @await Component.InvokeAsync("CategoryMenu")
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Loại Sản Phẩm
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text"
                                   placeholder="Bạn cần gì" />
                            <button type="submit" class="site-btn">
                                Tìm Kiếm
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Danh Mục Sản Phẩm</h4>
                        @await Component.InvokeAsync("CategoryMenu")
                    </div>
                    <div class="sidebar__item">
                        <h4>Kích Cỡ Phổ Biến</h4>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                13 Inch
                                <input type="radio" id="tiny" />
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="large">
                                14 Inch
                                <input type="radio" id="large" />
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                15 Inch
                                <input type="radio" id="medium" />
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                16 Inch
                                <input type="radio" id="small" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->